body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 400%;
}
h5 {
  margin-top: 5px;
}
.page {
  display: flex;
  justify-content: center;
}
.card-page {
  background-color: rgb(30, 36, 41);
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100rem;
  max-width: 95%;
  min-height: 95%;
}
